@charset "UTF-8";

body {
  width: 90%;
  min-width:60%;
  max-width:100%;
}

table{
    width: 100%;
    min-width:60%;
    border-collapse: collapse;
  	font-size: 12px;
  	}
table th, table td {
    border: 1px solid ;
    padding: 6px;
}
table th {
  background-color:"#1e90ff";
}

ul{
	margin:1px
}
.list{
	background: #eee;
  	overflow: hidden;
  	width: 100%;
  	  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}