<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>住所録削除</title>
    <link href="add.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
  </head>
  <body>


    <P>下記住所録を削除します。よろしいですか？</P>
    <form th:action="@{/deleteflg}" th:method="post" th:object="${UserUpdateRequest}">
    <table>
      <tr>
        <th class="cell_title">名前</th>
        <th class="cell_required">*</th>
        <td th:text="*{name}"></td>
      </tr>
      <tr>
        <th class="cell_title">住所</th>
        <th class="cell_required">*</th>
        <td th:text="*{address}"></td>
      </tr>
      <tr>
        <th class="cell_title">電話番号</th>
        <th class="cell_required"></th>
        <td th:text="*{tel}"></td>
      </tr>
    </table>
  <input type="hidden" th:value="*{id}" th:field="*{id}"name="id">
  <div class="btn_area_center">
  	<input type="button" onclick="location.href='/list'" value="戻る">
  	<input type="submit"  value="確認" class="btn">
  </div>
  </form>
  </body>
</html>