<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>住所録：編集</title>
<link href="../css/addedit.css" rel="stylesheet"></link>
    <meta charset="utf-8" />
  </head>
  <body>
  <h1>住所録管理システム：編集</h1>
  <form action="#" th:action="@{/editcheck}" th:object="${userUpdateRequest}" method="post">
  <table>
    <tr>
      <th>名前</th>
      <th></th>
      <td><input type="text" class="nametext" th:field="*{name}" th:value="*{name}"></td>
    </tr>
    <tr>
      <th>住所</th>
      <th></th>
      <td><input type="text" class="addresstext" th:field="*{address}" th:value="*{address}"></td>
    </tr>
    <tr>
      <th>電話番号</th>
      <th></th>
      <td><input type="text" class="teltext" th:field="*{tel}" th:value="*{tel}"></td>
    </tr>
  </table>
  <div class="btnarea">
  <input type="button" value="戻る" onclick="history.back()">
  <input type="submit"  value="確認">
  </div>
       <table>
    	<tr th:if="${validationError}" th:each="error : ${validationError}">
      	<td style="color:red;" th:text="${error}"></td>
    	</tr>
  		</table>
  <input type="hidden" th:value="*{id}" th:field="*{id}"name="id">
  </form>
  </body>
</html>