<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="../css/check.css" rel="stylesheet"></link>
  <head>
    <title>住所録:編集確認</title>

    <meta charset="utf-8" />
  </head>
  <body>
    <h1>住所録：編集確認</h1>
    <form th:action="@{/update}" th:method="post">
    <table>
      <tr>
        <th class="cell_title">名前</th>
        <th class="cell_required">*</th>
        <td th:text="${UserUpdateRequest.name}"></td>
      </tr>
      <tr>
        <th>住所</th>
        <th >*</th>
        <td th:text="${UserUpdateRequest.address}"></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <th></th>
        <td th:text="${UserUpdateRequest.tel}"></td>
      </tr>
    </table>
         <input type="hidden" name="id" th:value="${UserUpdateRequest.id}" />

         <input type="hidden" name="name" th:value="${UserUpdateRequest.name}" />
         <input type="hidden" name="address" th:value="*{UserUpdateRequest.address}" />
         <input type="hidden" name="tel" th:value="${UserUpdateRequest.tel}" />
         <input type="hidden" name="id" th:value="${UserUpdateRequest.id}" />

    <div class="btnarea">
    	<input type="button" value="戻る" onclick="history.back()">
    	<input type="submit" value="登録" class="btn">
    </div>
  </form>
  </body>
</html>